.button__close {
  background-image: url(../../images/button-close.svg);
  width: 24px;
  height: 24px;
  position: absolute; 
  left: 438px;
  top: -31px;
  border: 1px solid transparent;
}

@media screen and (max-width: 600px) {
  .button__close {
    left: 257px;
    top: -39px;
  }
}