.popup__close-button {
  background-image: url(../../../images/button-close.svg);
  width: 32px;
  height: 32px;
  position: absolute; 
  left: 438px;
  top: -31px;
  border: 1px solid transparent;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    left: 257px;
    top: -39px;
  }
}